html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    background-color: gray;
    color: wheat;
    padding: 20px;
    text-align: center;
    border: green 5px solid;
}

h2 {
    text-decoration: underline;
    font-size: 24px;
}

body {
    margin: 0 px;
    font-size: 21px;
    background: lightcyan;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    color: firebrick;

    padding: 30px;
}

column {
    margin: 0 auto;
}

main {
    display: flex;
    margin: 3px 0;
    background-color: antiquewhite;
    text-align: center;
    justify-content: space-around;
}

.about {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.sp {
    margin-top: 10px;
}

ul {
    color: brown;
}

img {

    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2px;
}

footer {
    color: black;
}
.cred{
    width: 500px;
    text-align: center;
    
}
.list{
    display: block;
}
ul{
    margin:30px;
    
}
li{
    margin: 30px;
}